@use '../variables'
@use '../mixins'

#sidebar
    background-color: variables.$bg-color
    flex: 0.1  300px
    border-radius: variables.$container-border-radius
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    margin: 0 auto
    position: sticky
    top: 3rem
    max-height: calc(100vh - 6rem)
    overflow-y: auto
    img 
        width: 100%
        max-width: 12vw
        aspect-ratio: 1
        object-fit: cover
        border-radius: 50%
        margin-top: 1.5rem
        border: 3px solid variables.$bg-color-secondary

    .title
        color: variables.$text-color-secondary
        background-color: variables.$bg-color-secondary
        border-radius: variables.$card-border-radius
        margin-top: 1rem
        padding: .8rem 1.2rem

    .nomeMael
        color: variables.$text-color
        background-color: variables.$bg-color-secondary
        border-radius: variables.$card-border-radius
        margin-top: 1rem
        padding: .8rem 1.2rem

    .btn
        @include mixins.btn

    @media screen and (max-width: 768px)
        flex: 0.2 200px
        position: static
        max-height: none
        img
            max-width: 50%
    
