@use '../variables'
@use '../mixins'

.technologies-container   
    h2
        color: variables.$text-color
        font-size: 2.2rem
        margin-bottom: 1.3rem
        @include mixins.center
        justify-content: center
        gap: 1rem

    .technologies-grid
        display: flex
        flex-wrap: wrap
        justify-content: center
        gap: 1.5rem

        @include mixins.respond-to(sm)
            gap: 0.5rem

    .technology-card
        @include mixins.center
        gap: 1rem
        border: 1px solid #333
        width: 25%
        border-radius: variables.$card-border-radius
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        text-align: center

        @include mixins.respond-to(lg)
            width: 30%

        @include mixins.respond-to(md)
            width: 25%

        @include mixins.respond-to(sm)
            width: 46% 

        @include mixins.respond-to(xs)
            width: 100%

        h3
            color: variables.$text-color
            margin-bottom: 1rem

        svg
            font-size: 6rem

    @include mixins.respond-to(md)
        padding: 1rem

        h2
            font-size: 2rem

    @include mixins.respond-to(sm)
        padding: 1rem

        h2
            font-size: 1.8rem

    #html
        svg
            color: #E44D26

    #css 
        svg 
            color: #1572B6

    #js 
        svg 
            color: #F0DB4F

    #java 
        svg 
            color: #007396

    #node 
        svg 
            color: #83CD29

    #react 
        svg 
            color: #61DAFB

    #angular 
        svg 
            color: #DD1B16

    #android 
        svg 
            color: #A4C639

    #ionic 
        svg 
            color: #3880FF

    #sass 
        svg 
            color: #CC6699

    #git 
        svg 
            color: #F05032

    #scrum 
        svg 
            color: #6DBCAD

    #npm 
        svg 
            color: #CB3837

    #jira 
        svg 
            color: #0052CC

    #github 
        svg 
            color: #181717

    #swift
        svg 
            color: #FF5722
             
    #bootstrap
        svg
            color: #563d7c

    #composer
        svg
            color: #885630

    #database
        svg
            color: #00758f

    #docker
        svg
            color: #0db7ed

    #eclipse
        svg
            color: #2C2255

    #firebase
        svg
            color: #ffcb2b

    #jenkins
        svg
            color: #D24939

    #laravel
        svg
            color: #FF2D20

    #mongodb
        svg
            color: #13aa52

    #mysql
        svg
            color: #00758f

    #nginx
        svg
            color: #269539

    #php
        svg
            color: #8892be

    #postgresql
        svg
            color: #336791

    #redis
        svg
            color: #D82C20

    #responsive
        svg
            color: #4a4a4a

    #sqllite
        svg
            color: #003B57

